p .Box
{
	height:50px;
	color: black;
	background-position:11px 5px, 14px 22px; 
	background-repeat:no-repeat; 
	text-align:right;
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:7px;
	background-color:#C5D4D7;
	font-size:41px;
	border-radius:0px;
/* 	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
}

.equals
{
 background-image:url(../images/equals.png) 14px 22px;
}

/* partial code for horizontal rotation not working yet */
/* .left{
float:left;
}
.right{
float:right;
}
 */
	
form .curFocus
{
background-color:white;
color:black;
font-size:44px;
}

p {
	
    margin: -5px auto;
}

label
{
	display:none;
}

#AA
{
	background-image:url(../images/billRate.png); 
}

#BB
{
  background-image:url(../images/payRate.png); 
}

#CC
{
  background-image:url(../images/markUpPercent.png); 
  
}

#billRate
{
  background-image:url(../images/billRate.png), url(../images/equals.png); 

}

#payRate
{
  background-image:url(../images/payRate.png); 
}

#markUp
{
  background-image:url(../images/markUpPercent.png); 
}

#grossProfitMargin
{
  background-image:url(../images/grossProfitMargin.png); 

}

#grossMarginPercent
{
  background-image:url(../images/grossMarginPercent.png); 
}



#workersComp
{
  background-image:url(../images/workersComp.png); 
}

#ficaAndFuta
{
  background-image:url(../images/ficaAndFuta.png); 
}

#sui
{
  background-image:url(../images/sui.png); 
}

#other
{
  background-image:url(../images/other.png); 
}

#fundingAndProcessing
{
  background-image:url(../images/fundingAndProcessing.png); 
}

#misc
{
  background-image:url(../images/misc.png); 
}

#targetProfitMargin
{
  background-image:url(../images/targetProfitMargin.png); 
}

