.Box
{
  background-position:11px 5px; 
  background-repeat:no-repeat; 
  text-align:right;
  padding-left:17px;
  padding-right:117px;
}
label
{
display:none;
}
#AA
{
  background-image:url(../images/billRate.png); 

}
#BB
{
  background-image:url(../images/payRate.png); 

}
#CC
{
  background-image:url(../images/markUpPercent.png); 

}
